<%
    function getPostCover(post) {
        var content = post.content
        var regex = /<img src="(\S+)"/
        var result = regex.exec(content)

        if (result && result[1]) {
            return result[1]
        }
    }
%>
<section class="posts">
    <% page.posts.each(function (post) { %>
        <article class="post">
            <% post.categories.each(function (cat) { %>
                <h4 class="post-cat">
                    <a href="<%- url_for(cat.path) %>">
                        <%= cat.name %>
                    </a>
                </h4>
                <%  }) %>
                    <h1 class="post-title">
                        <a href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                    </h1>

                    <ul class="post-date">
                        <li>
                            <%- date(post.date, 'LL') %>
                        </li>
                        <li>
                            <%= config.author %>
                        </li>
                    </ul>
                    <% if (theme.auto_cover && getPostCover(post)){%>
                        <div class="post-cover">
                            <img src="<%- getPostCover(post) %>">
                        </div>
                    <%}%>
                    <div class="post-content ">
                        <%- post.excerpt %>
                            <a href="<%- url_for(post.path) %>" class="more-link">Continue reading</a>
                    </div>
        </article>
        <% }) %>
</section>
